%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% escript_incl_extra is for internal rebar-private use only.
%% Do not use outside rebar. Config interface is not stable.
{escript_incl_extra, [{"priv/templates/*", "."}]}.

%% Types dict:dict() and digraph:digraph() have been introduced in Erlang 17.
%% At the same time, their counterparts dict() and digraph() are to be
%% deprecated in Erlang 18. namespaced_types option is used to select proper
%% type name depending on the OTP version used.
{deps, [
        {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git", {branch, "master"}}},
        {mad, ".*", {git, "https://github.com/synrc/mad", {branch, "master"}}},
        {pgsql, ".*", {git, "https://github.com/semiocast/pgsql.git", {branch, "master"}}},
        {n2o, ".*", {git, "https://github.com/synrc/n2o.git", {tag, "1.9.0"}}},
        {edate, ".*", {git, "https://github.com/dweldon/edate.git", {branch, "master"}}},
        {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.9.2"}}},
        {mochiweb_xpath, ".*", {git, "https://github.com/retnuh/mochiweb_xpath.git", {tag, "v1.2.0"}}}
       ]}.

{plugins, [
    {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{relx, [{release,{divepredictor,"1.0.0"},
		[divepredictor]},
	    {sys_config, "./sys.config"},
	    {include_erts, false},
	    {dev_mode, false},
	    {extend_start_script,true},
        {overlay, [{copy, "priv/static", "priv/static"}]}
	]}.


{provider_hooks, [
                 {pre, [{compile, {erlydtl, compile}}]}
             ]}.

{erl_opts, [debug_info]}.

%% Erlydtl options
   {erlydtl_opts, [
               {doc_root,   "templates"},
               {source_ext, ".dtl"},
               {module_ext, "_view"},
               {auto_escape, false}
              ]}.