%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% escript_incl_extra is for internal rebar-private use only.
%% Do not use outside rebar. Config interface is not stable.
{escript_incl_extra, [{"priv/templates/*", "."}]}.

%% Types dict:dict() and digraph:digraph() have been introduced in Erlang 17.
%% At the same time, their counterparts dict() and digraph() are to be
%% deprecated in Erlang 18. namespaced_types option is used to select proper
%% type name depending on the OTP version used.
{deps, [

        {pgsql, ".*", {git, "https://github.com/semiocast/pgsql.git", {branch, "master"}}},
        {n2o, ".*", {git, "git://github.com/5HT/n2o", {tag, "1.9.0"}}},
        {erlydtl,       ".*", {git, "git://github.com/evanmiller/erlydtl.git", {tag,"0.8.0"}}},
        {edate, ".*", {git, "https://github.com/dweldon/edate.git", {branch, "master"}}},
        {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.9.2"}}},
        {mochiweb_xpath, ".*", {git, "https://github.com/retnuh/mochiweb_xpath.git", {tag, "v1.2.0"}}}
       ]}.
       

%% Erlydtl options
 {erlydtl_opts, [[
    {out_dir,    "ebin"},
 	{doc_root,   "templates"},
    {source_ext, ".dtl"},
    {module_ext, "_view"},
    {compiler_options, [report, return, debug_info]}
 ]]}.

{plugins, [
           {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
          ]}.

{relx, [{release,{divepredictor,"1.0.0"},
		[divepredictor]},
	{include_erts, false},
	{extend_start_script,true}]}.
