.centered {
	text-align: center;
}

.largeText {
	font-weight: bold;
	display: block;
	font-size: 40pt;
}

.mediumText {
	display: block;
	font-size: 20pt;
}

.italic {
	font-style: italic;
}

table {
	border: 5px solid black;
}

thead {
	background-color: gray;
}

td {
	border: 1px solid black;
}
